@model IEnumerable<MooPlot.Models.enfermedade>

@{
    ViewBag.Title = "Index";
}

<div class="vertical-pad"></div>

<h2>Index</h2>

<p>
    <button class="btn btn-primary" onclick="location.href='@Url.Action("Create", "enfermedades")'"><i class="fa fa-plus"></i> Nueva Enfermedad</button>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nom_Enfermedad)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nom_Enfermedad)
        </td>
        <td>
            <button class="btn btn-info btn-md" onclick="location.href='@Url.Action("Edit", "enfermedades", new { id=item.ID_enfermedad })'"><i class="fa fa-edit"></i> Editar</button>
            <button class="btn btn-info btn-md" onclick="location.href='@Url.Action("Details", "enfermedades", new { id=item.ID_enfermedad })'"><i class="fa fa-newspaper-o"></i> Detalles</button>
            <button class="btn btn-danger btn-md" onclick="location.href='@Url.Action("Delete", "enfermedades", new { id=item.ID_enfermedad })'"><i class="fa fa-trash"></i> Eliminar</button>
        </td>
    </tr>
}

</table>

<div class="vertical-pad"></div>
