@model MooPlot.Models.animale

@{
    ViewBag.Title = "Delete";
}

<div class="vertical-pad"></div>

<h2>Eliminar</h2>

<h3>Seguro que deseas elminarlo?</h3>
<div>
    <h4>Ganado</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Num_Caravana)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Num_Caravana)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Especie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Especie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Raza)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Raza)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Genero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha_Nac)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_Nac)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Peso_Nac)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Peso_Nac)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IMC_Actual)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IMC_Actual)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Observaciones)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Observaciones)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cod_Signia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cod_Signia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha_Muerte)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_Muerte)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Imagen__Ruta_)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Imagen__Ruta_)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Imagen__Foto_)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Imagen__Foto_)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Peso_Actual)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Peso_Actual)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Celo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Celo)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <button type="submit" class="btn btn-default"><i class="fa fa-trash"></i> Eliminar</button>
            <a class="btn btn-default " onclick="location.href='@Url.Action("Index", "animales")'"><i class="fa fa-arrow-left"></i> Regresar</a>
        </div>
    }
</div>

<div class="vertical-pad"></div>