@model MooPlot.Models.animale

@{
    ViewBag.Title = "Details";
}




<div class="vertical-pad"></div>

<!--Main layout-->
<div class="container">

    <h1>Ganado</h1>
    <hr>

    <!-- Card container -->
    <div class="card-container">



        <div class="card">

            <!-- First row -->
            <div class="row">

                <!--Card content-->
                <div class="card-block">

                    <div class="col-md-4">
                        <!--Card image-->
                        <div class="view overlay hm-white-slight">
                            <img src="~/img/placeholder.png" alt="" class="img-fluid">
                            <a href="#">
                                <div class="mask"></div>
                            </a>
                        </div>
                        <!--/.Card image-->

                        <div class="col-md-12">
                            
                        </div>

                    </div>

                    <div class="col-md-2 siniga">

                        <!--Card image-->
                        <div class="view overlay hm-white-slight">
                            <img class="img-fluid" src="~/img/siniga.png" alt="">
                            <a href="#">
                                <div class="mask"></div>
                            </a>
                        </div>
                        <!--/.Card image-->
                        <!--Title-->
                        <h3 class="card-title text-xs-center">@Html.DisplayFor(model => model.Cod_Signia)</h3>

                    </div>

                    <div class="col-md-6">

                        <div class="col-md-12 text-xs-center">
                            <h1>Datos</h1>
                        </div>

                        <div class="col-md-6">

                            <table class="table table-hover">
                                <tbody>
                                    <tr>
                                        <th scope="row"># Caravana</th>
                                        <td>@Html.DisplayFor(model => model.Num_Caravana)</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Peso</th>
                                        <td>@Html.DisplayFor(model => model.Peso_Nac)</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Especie</th>
                                        <td>@Html.DisplayFor(model => model.Especie)</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Raza</th>
                                        <td>@Html.DisplayFor(model => model.Raza)</td>
                                    </tr>
                                    
                                </tbody>
                            </table>

                        </div>

                        <div class="col-md-6">

                            <table class="table table-hover">
                                <tbody>
                                    <tr>
                                        <th scope="row">Peso de Nac.</th>
                                        <td>@Html.DisplayFor(model => model.Peso_Nac)</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Peso</th>
                                        <td>@Html.DisplayFor(model => model.Peso_Actual)</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Muerto:</th>
                                        <td>@Html.DisplayFor(model => model.Status)</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Género</th>
                                        <td>@Html.DisplayFor(model => model.Genero)</td>
                                    </tr>
                                    
                                </tbody>
                            </table>

                        </div>
                        <div class="col-md-12">

                            <table class="table table-hover">
                                <tbody>
                                    <tr>
                                        <th scope="row">Fecha de nacimiento</th>
                                        <td>@Html.DisplayFor(model => model.Fecha_Nac)</td>
                                    </tr>
                                    

                                </tbody>
                            </table>

                        </div>
                       

                    </div>

                </div>
                <!--/.Card content-->

            </div>
            <!-- /.First row -->

            <div class="row stat-container">

                <!-- Stat col -->
                <div class="col-md-4">

                    <!--Card-->
                    <div class="card stat">

                        <!--Card content-->
                        <div class="card-block">
                            <!--Title-->
                            <h4 class="card-title">Quick Stat #1</h4>
                            <!--Text-->
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                        <!--/.Card content-->

                    </div>
                    <!--/.Card-->

                </div>
                <!-- /.Stat col -->
                <!-- Stat col -->
                <div class="col-md-4">

                    <!--Card-->
                    <div class="card stat">

                        <!--Card content-->
                        <div class="card-block">
                            <!--Title-->
                            <h4 class="card-title">Quick Stat #2</h4>
                            <!--Text-->
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                        <!--/.Card content-->

                    </div>
                    <!--/.Card-->

                </div>
                <!-- /.Stat col -->
                <!-- Stat col -->
                <div class="col-md-4">

                    <!--Card-->
                    <div class="card stat">

                        <!--Card content-->
                        <div class="card-block">
                            <!--Title-->
                            <h4 class="card-title">Quick Stat #3</h4>
                            <!--Text-->
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                        <!--/.Card content-->

                    </div>
                    <!--/.Card-->

                </div>
                <!-- /.Stat col -->

            </div>

        </div>


    </div>
    <!-- /.Card container -->








</div>
<!--/.Main layout-->

<div class="vertical-pad"></div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_Animal }) |
    @Html.ActionLink("Back to List", "Index")
</p>
