@model IEnumerable<MooPlot.Models.animale>

@{
    ViewBag.Title = "Index";
}

<h2>@ViewBag.qlero</h2>

<div class="vertical-pad"></div>
<div class="container">

    <h1>Animales</h1>
    <hr>
    <p>


        <button class="btn btn-primary" onclick="location.href='@Url.Action("Create", "animales")'"><i class="fa fa-bell"></i> Nuevo animal</button>


    </p>
<div class="row card-container">
    @foreach (var item in Model)
    {


        <div class="card cardsita col-md-6 col-xs-12">

            <!--Card content-->
            <div class="card-block">

                <div class="col-md-4">
                    <!--Card image-->
                    <div class="view overlay hm-white-slight">
                        <img src="~/img/placeholder.png" class="img-fluid" alt="">
                        <a href="#">
                            <div class="mask"></div>
                        </a>
                    </div>
                    <!--/.Card image-->
                    <!--Card image-->
                    <div class="view overlay hm-white-slight">
                        <img class="img-fluid" src="~/img/siniga.png" alt="">
                        <a href="#">
                            <div class="mask"></div>
                        </a>
                    </div>
                    <!--/.Card image-->
                    <!-- Title -->
                    <h3 class="card-title text-xs-center">@Html.DisplayFor(modelItem => item.Cod_Signia)</h3>

                </div>

                <div class="col-md-8">

                    <div class="col-md-12 text-xs-center">
                        <h3>Datos</h3>
                    </div>

                    <div class="col-md-12">

                        <table class="table table-hover">
                            <tbody>
                                <tr>
                                    <th scope="row"># Caravana</th>
                                    <td>@Html.DisplayFor(modelItem => item.Num_Caravana)</td>
                                </tr>
                                <tr>
                                    <th scope="row">Peso</th>
                                    <td>@Html.DisplayFor(modelItem => item.Peso_Actual)</td>
                                </tr>
                                <tr>
                                    <th scope="row">Especie</th>
                                    <td>@Html.DisplayFor(modelItem => item.Especie)</td>
                                </tr>
                                <tr>
                                    <th scope="row">Raza</th>
                                    <td>@Html.DisplayFor(modelItem => item.Raza)</td>
                                </tr>
                                <tr>
                                    <th scope="row">Género</th>
                                    <td>@Html.DisplayFor(modelItem => item.Genero)</td>
                                </tr>
                            </tbody>
                        </table>

                    </div>

                    <div class="col-md-12 text-xs-center">
                        <a href="@Url.Action("Details","animales",new { id=item.ID_Animal})" class="btn btn-primary">Resumen Completo</a>
                    </div>

                </div>

            </div>
            

        </div>
    

    }
    </div>
   </div>
   <div class="vertical-pad"></div>
