@model MooPlot.Models.animales_enfermos

@{
    ViewBag.Title = "Delete";
}



<h3>¿Seguro que deseas borrarlo?</h3>
<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.enfermedade.Nom_Enfermedad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.enfermedade.Nom_Enfermedad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.animale.Especie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.animale.Especie)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
