@model IEnumerable<MooPlot.Models.animales_enfermos>

@{
    ViewBag.Title = "Index";
}




<div class="vertical-pad"></div>
<div class="container">
    <h1 class="header-text">Animales Enfermos</h1>
    <hr>
    <div class="row card-container">

        @foreach (var item in Model)
        {
            <div class="card">

                <!--Card content-->
                <div class="card-block">

                    <div class="col-md-8">

                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Especie</th>
                                    <th>Enfermedad</th>
                                    <th>Descripción</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.animale.Especie)</td>
                                    <td>@Html.DisplayFor(modelItem => item.enfermedade.Nom_Enfermedad)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Descripcion)</td>
                                </tr>
                            </tbody>
                        </table>

                    </div>

                    <div class="col-md-4 boton-action text-xs-center">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <button class=" btn btn-info" onclick="location.href='@Url.Action("Edit", "animales_enfermos", new { id=item.ID_enfermo})'"><i class="fa fa-edit"></i> </button>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <button class=" btn btn-danger" onclick="location.href='@Url.Action("Delete", "animales_enfermos", new { id=item.ID_enfermo})'"><i class="fa fa-trash"></i> </button>
                        </div>
                    </div>

                </div>
                <!--/.Card content-->
            </div>
        }

    </div>
    </div>
<p>
    <div class="botones">
        <button class="btn btn-info " onclick="location.href='@Url.Action("Create", "animales_enfermos")'"><i class="fa fa-plus"></i> enfermo</button>
        <button class="btn btn-info " onclick="location.href='@Url.Action("Create", "enfermedades")'"><i class="fa fa-plus"></i> enfermedad </button>

    </div>
   
</p>
<div class="vertical-pad"></div>